{% extends 'base.html' %}
{% load static %}

    
{% block content %}
{% comment %} <h1>{{judul}}</h1>
<h1>{{subjudul}}</h1>
<ol>
    {% for data in kategori %}
    <li>{{data.nama}}</li>   
    {% endfor %}
</ol> {% endcomment %}
<div class="card-body" style="background-color: #e2edff;">
<div class="row">
    <div class="text-center" style="font-family : Times New Roman; margin-top: 10px;">
        <a href="/form_cafe" class="btn btn-primary">Tambah Pesanan</a>
<hr class="my-3">
    </div>
    {% for data in data_produk %}
    <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card" style="width: 18rem; margin-top: 20px;">
            
            {% if data.gmbr_produk %}
            <img src="{{data.gmbr_produk.url}}" class="card-img-top">
                
            {% endif %}
                
            <div class="card-body">
                <h5 class="card-title">{{data.namaproduk}}</h5>
                <p class="card-text">{{data.harga}}</p>
                <a href="produk/detailproduk/{{data.id}}" class="btn btn-primary">Beli</a>
            </div>
        </div>
    </div>
        
    {% endfor %}
      
<hr class="my-3">
</div>
    
</div>
{% endblock content %}